{% extends 'base.html'%}

{% block content %}
   <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}   
                    {% for category, mensaje in messages %}
                        <div class="alert alert-dismissible alert-{{category}}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>Error!</strong> <p class="text-white fw-bold">{{mensaje}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" "border border-3 border-primary rounded p-4 shadow-lg">
                <legend class="text-center text-uppercase">Registro</legend>
                <div class="form-group mb-3">
                    <label class="text-uppercase" for="exampleInputEmail1">Username</label>
                    <input autocomplete="false" type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Tu username">

                </div>
                <div class="form-group mb-3">
                    <label class="text-uppercase for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Tu Password">
                </div>
                <div class="form-group mb-3">
                    <label class="text-uppercase for="passwordr">Repetir Password</label>
                    <input type="password" class="form-control" id="passwordr" name="passwordr" placeholder="Repite tu Password">
                </div>
                <button type="submit" class="btn btn-primary  text-uppercase d-block mx-auto">Registrarse</button>
                </form>
        </div>
    </div>
   </div>
{% endblock %}